<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XBLMarketplace_For_PC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <XBLMarketplace_For_PC.Properties.Settings>
            <setting name="entry_per_page" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="last_page_viewed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="regionindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mediaindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="languageindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="batchdelay" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DecompressPathString" serializeAs="String">
                <value/>
            </setting>
            <setting name="IsoPathString" serializeAs="String">
                <value/>
            </setting>
            <setting name="DownloadPathString" serializeAs="String">
                <value/>
            </setting>
        </XBLMarketplace_For_PC.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
